@{
    ViewData["Title"] = "Programs Page";
}

<div class="text-center">
    <h1 class="display-4">Programs</h1>

    <table>
        <thead>
            <th>
                #
            </th>
            <th>
               Name
            </th>
            <th>
                Category
            </th>
        </thead>
        <tbody>
            <tr>
                <td>
                    1
                </td>
                <td>
                   .NET Core
                </td>
                <td>
                    Programming
                </td>
            </tr>
        </tbody>
    </table>
</div>
