@using ttcm_mvc.Models.DTOs
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<UserResponseDTO>

<div class="table-responsive">
    <table class="table table-hover table-borderless">
        <thead>
            <tr>
                <th>Id</th>
                <th>UserName</th>
                <th>Phone Number</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            @foreach(var user in Model)
            {
                <tr>
                    <td>
                        <span class="avatar"><i class="fas fa-user"></i></span>
                        <a href="#">@user.Id</a>
                    </td>
                    <td>@user.Username</td>
                    <td>@user.Phone</td>
                    <td>@user.Email</td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                More
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="#">Edit</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Delete</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>